<%- include('./partials/head') %>

<article>
  <header>
    <!-- <h1>Hallo</h1>
    <p>mijn naam is</p> -->
  </header>

  <h1><%= data.avatar %> <%= data.name %></h1>

  <p><%= data.avatar %> <%= data.name %> <%= data.surname %></p>
  <a href="mailto:<%= data.email %>"><%= data.email %></a>
  <a href="https:github.com/<%= data.github_handle %>" target="_blank">Mijn github</a>

  <p><%= data.bio %></p>

  <footer></footer>
</article>

<%- include('./partials/foot') %>
