<%- include('./partials/head') %>

<div class="" id="cards">

  <article class="cards cardFront">

    <div class="socials">
      <ul>
        <li><a href="mailto:<%= data.email %>"><img src="/images/mailWhite.svg"></a></li>
        <li><a href="https:github.com/<%= data.github_handle %>" target="_blank">github</a></li>
        <li><a href="">insta</a></li>
      </ul>
    </div>

    <div>
      <h1 class="typeWriter"><%= data.name %></h1>
      <h3> <%= data.surname %></h3>
    </div>

    <button onclick="turn()"><img src="/images/turnWhite.svg" alt="turn icon"></button>
  </article>

  <article class="cards cardBack">
    <div>
      <h3><%= data.name %> <%= data.avatar %></h3>

      <p><p><%= data.bio %></p></p>
    </div>

    <button onclick="turn()">turn</button>
  </article>

</div>
<%- include('./partials/foot') %>

